<%= render 'shared/admin/page_header', current_page: '导航列表', pages: @page_header %>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">新增轮播</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <%= render 'form' %>    
    </div>
    <!-- /.card-body --> 
</div>


<%#= link_to 'Back', admin_swipers_path %>
