<%= render 'shared/admin/page_header', current_page: '修改分类', pages: @page_header %>
<div class="card">
  <!-- /.card-header -->
  <div class="card-body">
      <%= render 'form' %>
  </div>
  <!-- /.card-body --> 
</div>
