// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root{
  --swiper-pagination-color: #b51c21;
}
html, body, h1, h2, h3, h4, h5, h6, span, img, p, ul, li, ol, dl, dt, dd{
  padding: 0;
  margin: 0;
}
body{
  font: 14px/1.231 "Microsoft YaHei","PingFang SC",sans-serif,"Segoe UI Symbol";
}
div {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.direction-row {
  flex-direction: row;
}
.flex-item {
  flex: 1;
}
.home.welcome {
  width:  1100px;
  background:  #FFF;
  margin: 0 auto;
}

.body.welcome {
  // background: asset-url("bg.jpg") no-repeat center top;
  // background-size:  contain;
  // padding-top: 210px;
}

.top {
  width: 100%;
  height: 58px;
  margin-bottom: 12px;
  border-bottom: 1px solid #ebebeb;
  .container{
    align-items: center;
    justify-content: flex-end;
  }
  form {
    width: 250px;
    height: 30px;
    border: 1px solid #ebebeb;
    position: relative;
    margin-right: 10px;
    input[type='search'] {
      width: 180px;
      height: 100%;
      position: absolute;
      left: 0;
      border: none;
      padding: 0;
      outline: 0;
      text-indent: 5px;
    }
    input[type='submit'] {
      width: 70px;
      height: 32px;
      position: absolute;
      right: -1px;
      border: none;
      padding: 0;
      outline: 0;
      text-indent: 5px;
      background: #b51c21;
      border-top: 1px solid #b51c21;
      border-bottom: 1px solid #b51c21;
      padding: 0;
      top: -1px;
      color: #FFF;
      cursor: pointer;
    }

  }
}

.container {
  width: 996px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  &:hover {
    color: #b51c21;
  }
}

li {
  list-style: none;
}

.nav {
  width: 100%;
  min-width: 996px;
  background: #b51c21;
  margin-top: 12px;
  margin-bottom: 17px;
  ul{
    display: flex;
    li{
      position: relative;
      flex: 1;
      & > a{
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #FFF;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
      }
      &:hover{
        ol{
          display: block;
        }
      }
    }
    ol{
      display: none;
      width: 100%;
      background: #b51c21;
      position: absolute;
      left: 0;
      z-index: 10;
      li:hover{
        background: #5c0101;
      }
    }
  }
}
.news-swiper {
  width: 560px;
  height: 360px;
  overflow: hidden;
  position: relative;
  .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
    .swiper-item-title{
      width: 100%;
      background: rgba(129,0,0,0.7);
      position: absolute;
      bottom: 0;
      height: 50px;
      align-items: center;
      z-index: 1;
      color: #FFF;
      font-size: 14px;
      padding-left: 20px;
      box-sizing: border-box;
      padding-right: 80px;
      p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .swiper-pagination {
    bottom: 17.5px;
    // margin-top: -7.5px;
    text-align: right;
    justify-content: flex-end;
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      border-radius: 0;
    }
  }
}

.group-title {
  &.link{
    a {
      font-size: 18px;
      color: #b51c21;
    }
  }
  color: #b51c21;
  font-size: 18px;
  line-height: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 8px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  padding-left: 14px;
  margin-bottom: 20px;
  box-sizing: border-box;
  &:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 24px;
    background: #b51c21;
    position: absolute;
    left: 0;
    top: 0;
  }
  a{
    color: #666666;
    font-size: 14px;
    font-weight: normal;
  }
  span{
    padding: 0px 10px;
    position: relative;
    font-weight: normal;
    a{
      color: #666666;
      font-size: 16px;
    }
    &+span a:before{
      content: '/';
      font-size: 16px;
      color: #666;
      position: absolute;
      left: 0;
    }
  }
}

.news-loop {
  flex: 1;
  dl {
    dt, a{
      color: #494949;
      font-size: 16px;
    }
    dd {
      margin-top: 20px;
      line-height: 20px;
      color: #666666;
    }
  }
}

.hr{
  width: 100%;
  height: 2px;
  background-color: #999999;
  margin: 20px 0;
}

.satcm-content {
  line-height: 20px;
  font-size: 14px;
  color: #666;
}

.department {
  justify-content: space-between;
  .item-list{
    width: 348px;
    // height: 174px;
    flex-direction: column;
    a{
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      box-sizing: border-box;
      background: asset-url('product.png') no-repeat center center #b51c21;
      background-size: cover;
      padding: 0px 20px;
      text-align: center;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .item-news {
    width: 245px;
    a {
      display: block;
      height: 82px;
      background: asset-url('link.png') no-repeat bottom right #f1f1f1;
      padding: 15px;
      box-sizing: border-box;
      &+a {
        margin-top: 10px;
      }
      p {
        color: #333;
        font-size: 16px;
      }
      span {
        color: #7e7e7e;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        display: box;
        -webkit-box-orient: vertical;
      }
    }
  }
  .item-link {
    width: 325px;
    height: 174px;
    li{
      padding-bottom: 5px;
      border-bottom: 1px solid #E5E5E5;
      a {
        display: block;
        color: #666666;
      }
      &+li{
        margin-top: 3px;
      }
    }
  }
}

.welcome-left {
  width: 670px;
}
.welcome-right {
  width: 285px;
}

.parties-building, .learning {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  li{
    flex: 50%;
    height: 28px;
    display: flex;
    align-items: center;
    a{
      color: #333333;
    }
    &:before{
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #cccccc;
      content: '';
      margin-right: 10px;
    }
  }
}

.notice {
  margin-bottom: 22px;
  dt {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    color: #333;
    &:before {
      content: '';
      width: 6px;
      height: 6px;
      background: #bd0000;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  dd {
    padding-left: 12px;
    line-height: 20px;
    margin-top: 5px;
    a{
      display: block;
      color: #666666;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.footer {
  width: 100%;
  min-width: 996px;
  background: #b51c21;
  padding: 20px 0;
  margin-top: 30px;
  color: #FFF;
  font-size: 14px;
  .contact {
    width: 320px;
    h6 {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .links {
    width: 240px;
    h6 {
      font-size: 14px;
      margin-bottom: 10px;
    }
    a {
      margin: 3px 5px;
      &:first-child {
        margin-left: 0px;
      }
    }
    &+.links {
      margin-left: 30px;
    }
  }
  a {
    color: #FFF;
  }
}
.select2-container .select2-selection--single {
  outline: 0;
}
.hover-cateory {
  span {
    color: #999;
    &.current {
      color: #b51c21;
    }
  }
}
