<div class="footer">
  <div class="container">
    <div class="contact direction-column">
      <p>地址: 4004004</p>
      <p>电话: 4004004</p>
    </div>
    <div class="links direction-column">
      <h6>友情连接</h6>
      <div style="display: block"><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a><a href="#">连接1</a></div>
    </div>
  </div>
</div>