<div class="page-left direction-column">
  <h2 class="group-title"><%= category.name %></h2>
  <% category.children.each do |category| %>
    <%= 
      if category.root.name == '科室建设'
        link_to category.name, office_path(category.name), class: "menu-item" 
      else
        link_to category.name, category_path(category), class: "menu-item" 
      end
    %>
  <% end %>
</div>
