<div class="page-left direction-column">
  <h2 class="group-title link">
    <%= 
      if category.root.name == '科室建设'
        link_to category.name, office_path(category.self_and_ancestors.find { |ar| ar.level == 1 }.id)
      else
        link_to category.name, category_path(category.root.id)
      end
    %>
    
  </h2>
  <% category.children.each do |category| %>
    <%= 
      if category.root.name == '科室建设'
        link_to category.name, office_path(category), class: "menu-item"
      else
        link_to category.name, category_path(category), class: "menu-item" 
      end
    %>

    <% category.children.each do |item|%>
      <span> <%=
        if item.root.name == '科室建设'
          link_to item.name, office_path(item)
        else
          link_to item.name, category_path(item)
        end
       %> </span>
    <% end %>

  <% end %>
</div>
